+ Test code

In [2]:
print("Hello World!")

Hello World!

+ Python number

In [3]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

+ Python Data Type

In [4]:
# int data type
a=12
b=13
c=a+b
c

25

In [5]:
# float data type
a=12.5
b=13.5
c=a+b
c

26.0

In [25]:
# print string 
massage = "muna"
print(massage)

print("=============")

#Multiline Strings
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

print("=============")

age=23
print(age)

print("=============")

muna
=============
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
=============
23
=============

+ Strings are Arrays

In [18]:
# characters position

a="Nusrat Muna"
print(a[2])

print("==========")

# length of a string
print(len(a))

print("==========")

# string in upper case
print(a.upper())

print("==========")

#  replaces a string with another string
print(a.replace("Muna", "Jahan"))

print("==========")

s
==========
11
==========
NUSRAT MUNA
==========
Nusrat Jahan
==========

+ List

In [20]:
# Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

print("========")

# Print all items in the list, one by one

listis = ["apple", "banana", "cherry"]
for x in listis:
    print(x)
    
print("========")

listofcgpa = [3.5,4.7,3.9]

print(listofcgpa[1])

print("========")

listofcgpa[2]=3.0
print(listofcgpa)

print("========")

print(len(listofcgpa))

['apple', 'banana', 'cherry']
========
apple
banana
cherry
========
4.7
========
[3.5, 4.7, 3.0]
========
3

+ If.....Else condition

In [22]:
# gread system

def getgread(marks):
    if(marks>=80):
        return "A+"
    elif(marks>=70 and marks <=79):
        return "A"
    elif(marks>=60 and marks <=69):
        return "B"
    elif(marks>=50 and marks <=59):
        return "C"
    elif(marks>=40 and marks <=49):
        return "D"
    else:
        return "fail"
print(getgread(75))

A

+ Iteration

In [23]:
#number = 1
#while number<10:
    #print(number)
   # number+=1
    
    
#for x in range(6):
   # print(x)

for x in range(1,10,2):
    print(x)

1
3
5
7
9

+ Function

In [27]:
def makedouble(x):
    return 2*x;
print(makedouble(3.1416))

6.2832